.main
  display: flex
  flex-direction: column
  min-height: 500px
  H1, A, STRONG
    color: #20BEFF

.avatar
  background-image: url('../images/avatar.svg')
  background-size: contain
  background-repeat: no-repeat
  height: 66px
  width: 150px
  margin: -40px auto 40px
