.component
  flex: 1
  display: flex
  flex-direction: column
  min-width: 0

.header
  height: 3rem
  flex-shrink: 0
  background-color: #47494D
  color: #20BEFF
  display: flex
  justify-content: flex-start
  align-items: center
  padding: 0 2rem

.content
  margin: 1rem 5rem
  flex: 1
  position: relative
  display: flex
  min-width: 0

.footer
  font-size: 0.8rem
  flex-shrink: 0
  height: 2rem
  background-color: #47494D
  display: flex
  justify-content: flex-end
  align-items: center
  padding: 0 2rem

.team
  color: #666
